@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #353c46;
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
  font-family: "Comfortaa", cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #274169;
  text-align: center;
  margin-left: 10px;
}

input::placeholder {
  text-align: center;
  opacity: 1;
  color: #9a9ab0;
}

input:focus {
  outline-style: none;
}

button {
  border: none;
  border-radius: 3px;
  background-color: #cbd5e1;
  cursor: pointer;
  color: #475569;
  font-size: 10pt;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #2dd43b;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.delete {
  max-width: 30px;
  max-height: 30px;
}
.delete:after {
  background-color: #e02266;
}

button:hover {
  color: #fff;
}
button:hover:after {
  left: 0;
  width: 100%;
}
button:active {
  top: 2px;
}

table {
  color: #fff;
  background-color: #252f3f;
  width: 30rem;
  border-radius: 0.4em;
  padding: 1rem;
}

th {
  color: #3bf8df;
}
tr {
  text-align: center;
}