body{
    background-color: antiquewhite;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid brown;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color:brown;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    color: rgb(65, 173, 168);
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: beige;
    padding: 15px;
    border: 3px solid brown;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}
.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    color: blue;
}