*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}

.list-items li a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}