*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.texto-apresentacao a{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}